﻿@model  IEnumerable<MVCIdentityConfirm.Models.ApplicationUser>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<table id="usersList" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Country</th>
            <th>E-mail</th>
            <th>Food Choice</th>
            <th>Food Allergies</th>
            <th>Comments</th>
            <th>Last Updated</th>
        </tr>
    </thead>
    <tbody>
        @{foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name @item.LastName</td>
                    <td>@item.Country</td>
                    <td>@item.Email</td>
                    <td>@item.FoodChoiceText</td>
                    <td>@item.FoodAllergiesText</td>
                    <td>@item.Additional</td>
                    <td> @item.LastUpdated.ToString("g") </td>
                </tr>
            }
        }
    </tbody>
</table>