﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Repatha Brand Summit</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" />

</head>
<body>
   
    <div class="container body-content">
        @RenderBody()
    </div>
    <div class="loading" style="display:none"></div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        (function () {
            if (window.addtocalendar) if (typeof window.addtocalendar.start == "function") return;
            if (window.ifaddtocalendar == undefined) {
                window.ifaddtocalendar = 1;
                var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
                s.type = 'text/javascript'; s.charset = 'UTF-8'; s.async = true;
                s.src = ('https:' == window.location.protocol ? 'https' : 'http') + '://addtocalendar.com/atc/1.5/atc.min.js';
                var h = d[g]('body')[0]; h.appendChild(s);
            }
        })();

        $(".baloon-close").on("click", function () {
            $(".baloon").fadeOut();
        });

    </script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="@Url.Content("~/Scripts/site.js")"></script>
</body>
</html>
