﻿@{
    ViewBag.Title = "Confirm Email Address";
}

<div class="row">
    <b class="col-md-8">
        @{
            if (@TempData["Resend"] != null)
            {
                if (!string.IsNullOrEmpty(@TempData["Resend"].ToString()))
                {
                    <span><b>@TempData["Resend"].ToString()</b></span>
                }
            }
            else
            {
                <h1>Almost finished...</h1>

                <h4>We need you to confirm your email address</h4>

                <h4>To coplete the subscription preocess, please click on the link you will find in the e-mail we just sent to  <strong>@ViewBag.Email</strong> </h4>

                <p> If you did not receive the email, we can @Html.ActionLink("send a new one", "Resend", "Account", new { email = @ViewBag.Email }, new { id = "link" }) </p>

            }

        }
</div>
</div>
