﻿@model MVCIdentityConfirm.Models.RegisterViewModel

@{
    Layout = null;
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"> <!-- utf-8 works for most cases -->
    <meta name="viewport" content="width=device-width"> <!-- Forcing initial-scale shouldn't be necessary -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- Use the latest (edge) version of IE rendering engine -->
    <meta name="x-apple-disable-message-reformatting">  <!-- Disable auto-scale in iOS 10 Mail entirely -->
    <title></title> <!-- The title tag shows in email notifications, like Android 4.4. -->

    <style>
        html,
        body {
            margin: 0 auto !important;
            padding: 0 !important;
            height: 100% !important;
            width: 100% !important;
            background: #fff;
        }

        * {
            -ms-text-size-adjust: 100%;
            -webkit-text-size-adjust: 100%;
        }

        div[style*="margin: 16px 0"] {
            margin: 0 !important;
        }

        table,
        td {
            mso-table-lspace: 0pt !important;
            mso-table-rspace: 0pt !important;
        }

        table {
            border-spacing: 0 !important;
            border-collapse: collapse !important;
            table-layout: fixed !important;
            margin: 0 auto !important;
        }

            table table table {
                table-layout: auto;
            }

        img {
            -ms-interpolation-mode: bicubic;
        }

        *[x-apple-data-detectors] {
            color: inherit !important;
            text-decoration: none !important;
        }

        .x-gmail-data-detectors,
        .x-gmail-data-detectors *,
        .aBn {
            border-bottom: 0 !important;
            cursor: default !important;
        }


        .button-link {
            text-decoration: none !important;
        }

        /* What it does: Hover styles for buttons */
        .button-td,
        .button-a {
            transition: all 100ms ease-in;
        }

            .button-td:hover,
            .button-a:hover {
                background: #555555 !important;
                border-color: #555555 !important;
            }
    </style>

</head>
<body width="100%" bgcolor="#222222" style="margin: 0; mso-line-height-rule: exactly;">
    <center style="width: 100%; background: #fff;">

        <div style="display:none;font-size:1px;line-height:1px;max-height:0px;max-width:0px;opacity:0;overflow:hidden;mso-hide:all;font-family: sans-serif;">
            (Optional) This text will appear in the inbox preview, but not the email body.
        </div>
        <table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="600" style="margin: auto;" class="email-container">
            <!-- Hero Image, Flush : BEGIN -->
            <tr>
                <td bgcolor="#ffffff">
                    <img src="https://diatribe.org/sites/default/files/images/7414054-Repatha-Logo-Approved-061115(1).jpg" width="400" height="300" alt="alt_text" border="0" align="center" class="fluid" style="width: 100%; max-width: 500px; height: auto; background: #dddddd; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #555555;">
                </td>
            </tr>
            <!-- Hero Image, Flush : END -->
            <!-- 1 Column Text : BEGIN -->
            <tr>
                <td bgcolor="#ffffff" style="padding: 40px; text-align: left; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #555555;">
                    <p><b>Name:</b> @Model.Name</p>
                    <p><b>Last Name:</b> @Model.LastName</p>
                    <p><b>Country:</b> @Model.Country</p>
                    <p>
                        <b>Food Choice:</b>
                        <ul>
                            @{
                                if (Model.FoodChoiceStandard)
                                {
                                    <li>Standard</li>
                                }
                                if (Model.FoodChoiceHalal)
                                {
                                    <li>Halal</li>
                                }
                                if (Model.FoodChoiceCeliac)
                                {
                                    <li>Celiac</li>
                                }
                                if (Model.FoodChoiceVegetarian)
                                {
                                    <li>Vegetarian</li>
                                }
                                if (Model.FoodChoiceKosher)
                                {
                                    <li>Kosher</li>
                                }
                                if (Model.FoodChoiceVegan)
                                {
                                    <li>Vegan</li>
                                }
                            }
                        </ul>
                    </p>
                    <p>
                        <b>Food Allergies:</b>
                        <ul>
                            @{
                                if (Model.FoodAllergiesEggs)
                                {
                                    <li>Eggs</li>
                                }
                                if (Model.FoodAllergiesWheat)
                                {
                                    <li>Wheat</li>
                                }
                                if (Model.FoodAllergiesLactose)
                                {
                                    <li>Lactose</li>
                                }
                                if (Model.FoodAllergiesGluten)
                                {
                                    <li>Gluten</li>
                                }
                                if (Model.FoodAllergiesFish)
                                {
                                    <li>Fish</li>
                                }
                                if (Model.FoodAllergiesNuts)
                                {
                                    <li>Nuts</li>
                                }
                                if (!string.IsNullOrEmpty(Model.FoodAllergiesOther))
                                {
                                    <li>@Model.FoodAllergiesOther</li>
                                }
                            }
                        </ul>
                    </p>
                    <p><b>Aditional Requirements/Comments:</b> <br /> @Model.Additional</p>
                    <br><br>
                    <!-- Button : Begin -->
                    <table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" style="margin: auto">
                        <tr>
                            <td style="border-radius: 3px; background: #222222; text-align: center;" class="button-td">
                                <a href="@Url.Action("ConfirmEmail", "Account", new { Token = Model.Id, Email = Model.Email }, Request.Url.Scheme)" style="background: #222222; border: 15px solid #222222; font-family: sans-serif; font-size: 13px; line-height: 1.1; text-align: center; text-decoration: none; display: block; border-radius: 3px; font-weight: bold;" class="button-a">
                                    &nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#ffffff;">Click here to edit your information</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                </a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td background="http://placehold.it/600x230/222222/666666" bgcolor="#222222" valign="middle" style="text-align: center; background-position: center center !important; background-size: cover !important;">

                    <!--[if gte mso 9]>
                    <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="width:600px;height:175px; background-position: center center !important;">
                    <v:fill type="tile" src="http://placehold.it/600x230/222222/666666" color="#222222" />
                    <v:textbox inset="0,0,0,0">
                    <![endif]-->
                    <div>
                        <table role="presentation" align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td valign="middle" style="text-align: center; padding: 40px; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #ffffff;"></td>
                            </tr>
                        </table>
                    </div>
                    <!--[if gte mso 9]>
                    </v:textbox>
                    </v:rect>
                    <![endif]-->
                </td>
            </tr>


        </table>
        <table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="600" style="margin: auto;" class="email-container">
            <tr>
                <td style="padding: 40px 10px;width: 100%;font-size: 12px; font-family: sans-serif; line-height:18px; text-align: center; color: #888888;" class="x-gmail-data-detectors">
                    <webversion style="color:#cccccc; text-decoration:underline; font-weight: bold;">View as a Web Page</webversion>
                    <br><br>
                    Company Name<br>123 Fake Street, SpringField, OR, 97477 US<br>(123) 456-7890
                    <br><br>
                    <unsubscribe style="color:#888888; text-decoration:underline;">unsubscribe</unsubscribe>
                </td>
            </tr>
        </table>

    </center>
</body>
</html>
