﻿@using MVCIdentityConfirm.Models;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Manage Account";
    TempData["userId"] = @User.Identity.GetUserId();
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div class="row">
    <div class="col-md-12">
        @if (ViewBag.HasLocalPassword)
        {
            @Html.Partial("_ChangePasswordPartial")
        }
        else
        {
            @Html.Partial("_SetPasswordPartial")
        }

        
       @Html.ActionLink("Back to my information", "UpdateProfile", "Account", null, null)
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
