﻿
@{
    ViewBag.Title = "Check your inbox";
}

<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-8">
      <h1>An email was sent to the provided address, follow the steps in order to set a new password</h1>
    </div>



</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}