﻿@{
    ViewBag.Title = "Home Page";
}

@if (TempData["RegistrationCompleted"] != null)
{
    if (@TempData["RegistrationCompleted"].ToString() == "yes")
    {
        <div class="baloon">
            <div class="row">
                <div class="col-md-11">
                    <p>
                        Your information was saved. See you there. Save the event or
                        <span class="addtocalendar" data-calendars="Google Calendar, Outlook, iCalendar">
                            <var class="atc_event">
                                <var class="atc_date_start">2017-03-19 12:00:00</var>
                                <var class="atc_date_end">2017-05-04 18:00:00</var>
                                <var class="atc_timezone">America/Chicago</var>
                                <var class="atc_title">Repatha Brand Summit</var>
                                <var class="atc_description">This is some description just for testing</var>
                                <var class="atc_location">Washington DC Some random venue</var>
                                <var class="atc_organizer">Organize please fill</var>
                                <var class="atc_organizer_email">luke@starwars.com</var>
                            </var>
                        </span>
                    </p>
                </div>
                <div class="col-md-1">
                    <p class="baloon-close">x</p>
                </div>
            </div>
        </div>
    }
}
<div class="row">
    <div class="col-md-12" align="center">
            <img src="~/Media/images/repatha_logo.jpg" style="height: 500px" />
            <p>Welcome to Repatha Brand Summit Registration Site</p>
            <h2>March 19, 2016 <br /> Washington D.C.</h2>
        <br />
        @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "register-button-home show-loading" })
            @Html.ActionLink("Login", "Login", "Account", null, htmlAttributes: new {  @class = "show-loading login-button" })
    </div>
</div>

